<div class="header container"><h1><a href="/">News Aggregator App</a></h1></div>
<div class="container">
  <div class="body">
    <h2>{{newsItem.title}}</h2>
    <hr/>
    <p>this news taken from "<a href="/news/list/{{service}}">{{service}}"</a> news service</p>
    <hr/>
    <h5>{{newsItem.date}}</h5>
    <p>{{newsItem.body}}</p>
  </div>
</div>
